body{
    font-family:  'Source Sans Pro', sans-serif;
    margin: 0px; 
    background-color: #f3f3f3; 
}

h1 {
    font-family: 'Open Sans';
    font-size: 1em;
    margin: 0;
}

h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;

}

/* Style class */

/* CLASES DEL NAV */

.conte-all{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;       
    
    /* visibility: hidden; */
    
}
.mdl-layout__header{
    position: fixed;
}
.mdl-layout__header-row{
    margin:10px;
    color: white; 
     
}

.nav-header-logo a{
    color: white;
    text-decoration: none;
    
}


.nav-logo{
    margin: 2px;
}

.nav-title{
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
}
/* <!-- Navigation. We hide it in small screens. --> */
.btn-login{
    font-size: 1em;
}
.btn-login:hover{
    color: white;
     text-decoration: none;
}
.nav-link-re{
    color: white;
    margin: 0px 10px 0px 10px;

}
.btn-regi:hover{
    color: white;
    text-decoration: none;
}

/* CLASES DEL MENU */

.mdl-layout--fixed-drawer{
    position: fixed;
    top: 84px;
    bottom: 0;
    left: 0;
    padding: 0;  
    background-color: red;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.12);
    /* width: 100%;
    height: 100%;
    overflow: auto; */
    -webkit-overflow-scrolling: touch;

}
/* .mdl-js-layout .mdl-layout--fixed-drawer{
    

} */
.mdl-layout-title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-left: 10px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 0px 4px 4px 30px;
}
.mdl-layout__drawer>.mdl-layout-title{
    padding: 10px;
}

.menu-navegation a{   
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 1.5em;
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    display: block;
    max-width: 260px;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: left;
    width: 93%;
    word-wrap: break-word;    
}

/* CONTENIDO */


.conte-pages{
    min-height: 100vh;    
    background: #f3f3f3;
    /* text-align: center;    */
    /* margin: 90px 0px 0px 50px;    */
    padding: 90px 3rem 0rem 25rem;
    width: 100%;
    height: 100%;
    
}
.main-principal{
    background: white;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
}

/* FORMULARIOS */
.example-container {
    display: flex;
    flex-direction: column;
    background: white;
    align-content: center;
    align-items: center;
  }
  
  .example-container > * {
    width: 50%;
    text-align: left;
    font-size: 1em;
  }
  .titulo-prinicpal h2{
    font-size: 2em;
    text-align: center;
  }
 .btn-aling{
     display:flex;
     justify-content: center;
 }
 .btn-class-aling{     

 }
 .card-body{
     width: 50%;
 }
 .table-s{
     display: flex;
     justify-content: center;
 }
 .table-size{
    width: 70%;

 }
 .btn-crud{
    display: flex;
    justify-content: center;
 }